<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57544052044-urijsbpnnjsf2rv02kvn5bdbn13b64ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57544052044-urijsbpnnjsf2rv02kvn5bdbn13b64ja</string>
	<key>API_KEY</key>
	<string>AIzaSyDFTZ09Q33O6_m5pR1HITzsZ38k7h7A6Ks</string>
	<key>GCM_SENDER_ID</key>
	<string>57544052044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBootcamp2023</string>
	<key>PROJECT_ID</key>
	<string>project-bootcamp2023</string>
	<key>STORAGE_BUCKET</key>
	<string>project-bootcamp2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57544052044:ios:0b635b8f504f31dfbad3e9</string>
</dict>
</plist>